Package: appstoretroller.joshattic.us
Name: AppStoreTroller
Version: 0.0.2
Architecture: iphoneos-arm
Description: Purchase apps to your Apple ID that require a newer iOS version than the one you're running on your device
Maintainer: JoshAtticus
Author: Mineek, JoshAtticus
Section: Tweaks
Depends: org.coolstar.libhooker
